/* HSL
HEX VALUES #RRGGBB
123456789 A(10) B(11) C(12) D(13) E(14) F(15)
          10 11 12 13 14 15
          #FF0000 - RED 
          #00FF00 - GREEN 
          #0000FF - BLUE
*/
#first {
 color: #7FB069;
 background-color: #000;
}

#second {
 color: #fff;
 background-color: #00ff0067;
}

#third {
 color: #4d4dd1;
 background-color: #f15c32;
}

#fourth {
 color: #f234ad;
 background-color: rgb(8, 112, 141);
}

body {
 background-color: #626346;
}

/* RGBA 0-1 opacity/transparency => EG:
#first {
  color: rgb(111, 121, 131);
  background-color: rgba(0, 0, 0, 0);
}
#second {
  color: rgb(88, 99, 154);
  background-color: rgba(0, 0, 0, 0.25);
}
#third {
  color: rgb(65, 147, 241);
  background-color: rgba(0, 0, 0, 0.5);
}
#fourth {
  color: rgb(100, 150, 200);
  background-color: rgba(0, 0, 0, 1);
}
body {
  background-color: rgba(10, 200, 200, 0.70);
} */

/* RGB RED GREEN BLUE (0 TO 255) => EG:  
#first {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 0);
}
#second {
  color: rgb(0, 255, 0);
  background-color: rgb(255, 255, 255);
}
#third {
  color: rgb(0, 0, 255);
  background-color: rgb(100, 150, 200);
}
body {
  background-color: rgb(69, 70, 71);
} */

/* COLOR PROPERTIES AND BG-COLOR => EG: 
#first {
  color: red;
  background-color: black;
}
#second {
  color: yellow;
  background: red
} */